@using test1.Models

<div class="form-group">
    <label>Apto Físico</label>
    <InputFile @bind-Value="Archivos.AptoFisico" class="form-control" />
</div>

<div class="form-group">
    <label>Documento Frente</label>
    <InputFile @bind-Value="Archivos.DocFrente" class="form-control" />
</div>

<div class="form-group">
    <label>Documento Dorso</label>
    <InputFile @bind-Value="Archivos.DocDorso" class="form-control" />
</div>

@code {
    [Parameter] public Archivos Archivos { get; set; }
}
